# gradle ignore
target/
output/
build/
.gradle/
# *.jar
*.war
*.zip
*.tar
*.tar.gz
tree.txt

# eclipse ignore
.settings/
.project
.classpath

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
Thumbs.db

local.properties

captures/
app/src/main/jniLibs/x86/
app/src/main/jniLibs/x86_64/
app/__bus__.json